ALLOWED_GOOGLE_EMAIL_DOMAINS=christuniversity.in
EMAIL_NOTIFICATIONS_ENABLED=false
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,testserver,sportix.christuniversity.in
CSRF_TRUSTED_ORIGINS=https://sportix.christuniversity.in
SITE_DOMAIN=127.0.0.1:8000
SITE_NAME=Sportix
USE_X_FORWARDED_HOST=true
ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=sports.lavasa@christuniversity.in
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=sports.lavasa@christuniversity.in
