ALLOWED_GOOGLE_EMAIL_DOMAINS=christuniversity.in
EMAIL_NOTIFICATIONS_ENABLED=false
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=sports.lavasa@christuniversity.in
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=sports.lavasa@christuniversity.in
